{% extends "base.html" %}

{% block content %}
  <h2>レストラン一覧</h2>
  <ul>
    {% for restaurant in restaurants %}
      <li>{{ restaurant.store_name }} - {{ restaurant.genre }} - {{ restaurant.area }}</li>
    {% empty %}
      <li>まだレストランが登録されていません。</li>
    {% endfor %}
  </ul>

  <h3>タグで絞り込み</h3>
<ul class="tag-filter">
  <li><a href="{% url 'restaurants:restaurant_list' %}">すべて表示</a></li>
  {% for tag in tags %}
    <li>
      <a href="{% url 'restaurants:restaurant_list' %}?tag={{ tag.name }}">{{ tag.name }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}

