{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-form">
  <h2>ログイン</h2>

  <form method="post">
      {% csrf_token %}
      <p>
          <label for="id_email">メールアドレス</label>
          {{ form.username }}
      </p>
      <p>
          <label for="id_password">パスワード</label>
          {{ form.password }}
      </p>
      <button type="submit">ログイン</button>
  </form>

  <p><a href="{% url 'accounts:signup' %}">新規登録はこちら</a></p>
</div>
{% endblock %}
