{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/mypage.css' %}">
{% endblock %}

{% block content %}
<div style="text-align:center; color:white;">
  <h2>マイページ</h2>

  <h3>ジャンル別訪問数</h3>
  <img src="/savoiry/restaurants/visit_chart/genre/" 
     alt="ジャンル別訪問グラフ"
     style="width:100%; max-width:500px; border-radius:8px; background:white; border:1px solid #ccc; padding:8px;">

  <h3>月別訪問数</h3>
  <img src="/savoiry/restaurants/visit_chart/monthly/" 
     alt="月別訪問グラフ"
     style="width:90%; max-width:600px; background:white; border-radius:8px; padding:10px;">

  <h3>お気に入りのお店 TOP3</h3>
<div class="top3-container">
  {% for visit in top3_visits %}
    <div class="top3-item">
      <div class="rank">No.{{ forloop.counter }}</div>
      <div class="info">
        <div class="name">{{ visit.restaurant__store_name }}</div>
        <div class="genre">{{ visit.restaurant__genre|default:"未分類" }}</div>
      </div>
      <div class="rating">
        <span class="star">★</span>
        <span class="score">{{ visit.avg_rating|floatformat:0 }}</span>
      </div>
    </div>
  {% empty %}
    <p style="color: gray;">データがありません</p>
  {% endfor %}
</div>

<a href="{% url 'accounts:email_change' %}" class="account-item">
  <div class="left">
    <img src="{% static 'icons/mail.png' %}" alt="key icon" class="icon">
    <span class="text">メールアドレスを変更</span>
  </div>
  <span class="arrow">＞</span>
</a>

<a href="{% url 'accounts:password_change' %}" class="account-item">
  <div class="left">
    <img src="{% static 'icons/key.png' %}" alt="key icon" class="icon">
    <span class="text">パスワードを変更</span>
  </div>
  <span class="arrow">＞</span>
</a>

<form action="{% url 'accounts:logout' %}" method="post" class="logout-item-form">
  {% csrf_token %}
  <button type="submit" class="logout-item">
    <div class="left">
      <img src="{% static 'icons/logout.png' %}" alt="door icon" class="icon">
      <span class="text">ログアウト</span>
    </div>
  </button>
</form>


{% endblock %}
