.register-container {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

.register-container p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.register-container h2 {
    color: white;

}

.register-container label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
}

.register-container input {
    width: 100%;
    padding: 8px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container select{
    width: 106%;
    padding: 8px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-tag {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

#add-tag:hover {
  background-color: #ccc;
}

.register-container button {
  display: block;
  margin: 25px auto;         
  padding: 8px 40px;
  background-color: #eeb61a; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
.register-container button:hover {
    background-color: #eeb61a;
}

.search-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}

