.register-container {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

.register-container p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.register-container h2 {
    color: white;
    font-size: 45px;
    white-space: nowrap;

}

.register-container label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: 35px;
  
}

.register-container input {
    width: 100%;
    padding: 8px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30px;
}

.register-container select{
    width: 106%;
    padding: 8px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-tag {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  font-size: 30px;
}

#add-tag:hover {
  background-color: #ccc;
}

.register-container button {
  display: block;
  margin: 25px auto;         
  padding: 8px 70px;
  background-color: #eeb61a; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 35px;
}
.register-container button:hover {
    background-color: #eeb61a;
}

.search-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}

/* 休業日セレクトボックス */
.register-container select[name="closed_day"],
.register-container select[name="holiday"] {
  width: 100%;
  padding: 18px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 30px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  margin-bottom: 15px;

  /* ▼ 複数選択対応（ここを追加） */
  min-height: 55px;   /* 1行だけのときでも潰れないように */
  height: auto;       /* 中の項目数に応じて高さ可変 */
  line-height: 1.2;   /* テキストの上下余白を自然に */
}


input::placeholder {
  font-size: 25px;
  color: #aaa;
}

