.search-page {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start; 
  margin-top: 100px;     
  display: flex;
  
}

.status-box {
  width: 500px ;
  height: 250px;
  font-size: 40px;
  color: #000 !important;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
}


.search-form {
    margin: 40px auto;
    text-align: center;
    width: 95%;
  max-width: 900px; 
}

/* 項目を縦並びに */
.search-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

/* ログイン見出しだけ白に */
.search-form h2 {
    color: white;
    font-size: 50px;

}

.search-form label {
  display: block;
  margin-bottom: -15px;
  color: white;
  font-size: 35px;
}


/* 入力欄 */
.search-form input {
    width: 100%;
    padding: 15px;
    margin: 1px -6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 35px;
}

/* ラジオボタン横並び */
.radio-group {
  display: flex;
  justify-content: center;   /* 真ん中に配置 */
  gap: 20px;                 /* ボタンの間に余白 */
  margin: 20px 0;
  color: white;              /* テキストを白に */
}

/* ボタン */
.search-form button {
  display: block;
  margin: 25px auto;         
  padding: 8px 70px;
  background-color: #eeb61a; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
}
.search-form button:hover {
    background-color: #eeb61a;
}

/* ログインリンク */
.search-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}

input::placeholder {
  font-size: 35px;
  color: #aaa;
}

.search-page select[name="holiday"] {
  width: 105%;
  max-width: none;
  padding: 18px 22px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 35px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.search-page select[name="holiday"] option {
  padding: 10px;
  font-size: 50px;
}


/* ▼ datalist用 input に大きい ▽ を重ねる */
.input-wrapper {
  position: relative;
}

.input-wrapper::after {
  content: "▼";                 /* ← 見た目用の矢印 */
  position: absolute;
  right: -17px;                  /* 右側の位置 */
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;              /* ← ★▽の大きさ */
  color: #000;                  /* 好みに応じて白でもOK */
  pointer-events: none;         /* 入力操作を邪魔しない */
}
