.search-page {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start; 
  margin-top: 100px;     
  display: flex;
  
}

.status-box {
  width: 500px ;
  height: 250px;
  font-size: 40px;
  color: #000 !important;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
}


.search-form {
    margin: 40px auto;
    text-align: center;
    width: 95%;
  max-width: 900px; 
}

/* 項目を縦並びに */
.search-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

/* ログイン見出しだけ白に */
.search-form h2 {
    color: white;
    font-size: 50px;

}

.search-form label {
  display: block;
  margin-bottom: -15px;
  color: white;
  font-size: 35px;
}


/* 入力欄 */
.search-form input {
    width: 100%;
    padding: 15px;
    margin: 1px -6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 35px;
}

/* ラジオボタン横並び */
.radio-group {
  display: flex;
  justify-content: space-between;  /* ← 各ボタンを均等配置 */
  width: 100%;
  margin: 60px 0;
  font-size: 32px;
}

.radio-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;                 /* ← 3つを完全に均等幅にする */
  text-align: center;
}

.radio-group input[type="radio"] {
  width: 28px;
  height: 28px;
  margin-bottom: 6px;
}

/* ボタン */
.search-form button {
  display: block;
  margin: 35px auto;         
  padding: 8px 70px;
  background-color: #eeb61a; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
}
.search-form button:hover {
    background-color: #eeb61a;
}

/* ログインリンク */
.search-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}

input::placeholder {
  font-size: 35px;
  color: #aaa;
}

/* 休業日ボックス（input と統一デザイン） */
.holiday-box {
  width: 115%;
  max-width: 505px;
  padding: 8px 40px 8px 13px; 
  background: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 35px;
  margin: 25px -6px;
  box-sizing: border-box;
  text-align: left;
  position: relative;        
  cursor: pointer;           
}



/* 選択肢一覧 */
.holiday-options {
  background: #fff;
  border: 1px solid #ccc;
  width: 75%;
  max-width: 500px;
  margin: 0 auto 10px;
  border-radius: 10px;
  padding: 10px;
}

.holiday-option {
  padding: 12px 10px;
  font-size: 32px;
  border-bottom: 1px solid #ddd;
  color: #000;
}

.holiday-option:last-child {
  border-bottom: none;
}

.holiday-option.selected {
  background: #e3e3e3;
}

.hidden {
  display: none;
}

/* ▼ ▲ 矢印 */
.holiday-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #666;
  transition: transform 0.2s ease;
  pointer-events: none; 
}

/* 開閉状態 */
.holiday-box.open .holiday-arrow {
  transform: translateY(-50%) rotate(180deg);
}
