.search-page {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start; 
  margin-top: 100px;     
  display: flex;
  
}

.status-box {
  width: 500px ;
  height: 250px;
  font-size: 40px;
  color: #000 !important;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
}


.search-form {
    margin: 40px auto;
    text-align: center;
    width: 95%;
  max-width: 900px; 
}

/* 項目を縦並びに */
.search-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

/* ログイン見出しだけ白に */
.search-form h2 {
    color: white;
    font-size: 50px;

}

.search-form label {
  display: block;
  margin-bottom: -15px;
  color: white;
  font-size: 35px;
}


/* 入力欄 */
.search-form input {
    width: 100%;
    padding: 15px;
    margin: 1px -6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 35px;
}

/* ラジオボタン横並び */
.radio-group {
  display: flex;
  justify-content: space-between;  /* ← 各ボタンを均等配置 */
  width: 100%;
  margin: 60px 0;
  font-size: 32px;
}

.radio-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;                 /* ← 3つを完全に均等幅にする */
  text-align: center;
}

.radio-group input[type="radio"] {
  width: 28px;
  height: 28px;
  margin-bottom: 6px;
}

/* ボタン */
.search-form button {
  display: block;
  margin: 35px auto;         
  padding: 8px 70px;
  background-color: #eeb61a; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
}
.search-form button:hover {
    background-color: #eeb61a;
}

/* ログインリンク */
.search-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}

input::placeholder {
  font-size: 35px;
  color: #aaa;
}

.search-page select[name="holiday"] {
  width: 105%;
  max-width: none;
  padding: 18px 22px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 35px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.search-page select[name="holiday"] option {
  padding: 10px;
  font-size: 50px;
}