.search-page {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start; 
  margin-top: 100px;     
  display: flex;
}

.status-box {
  width: 500px ;
  height: 250px;
  font-size: 40px;
  color: #000 !important;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
}


.search-form {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

/* 項目を縦並びに */
.search-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

/* ログイン見出しだけ白に */
.search-form h2 {
    color: white;
    font-size: 50px;

}

.search-form label {
  display: block;
  margin-bottom: -15px;
  color: white;
  font-size: 35px;
}


/* 入力欄 */
.search-form input {
    width: 100%;
    padding: 8px;
    margin: 1px -6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30px;
}

/* ラジオボタン横並び */
.radio-group {
  display: flex;
  justify-content: center;   /* 真ん中に配置 */
  gap: 20px;                 /* ボタンの間に余白 */
  margin: 20px 0;
  color: white;              /* テキストを白に */
}

/* ボタン */
.search-form button {
  display: block;
  margin: 25px auto;         
  padding: 8px 70px;
  background-color: #eeb61a; 
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 35px;
}
.search-form button:hover {
    background-color: #eeb61a;
}

/* ログインリンク */
.search-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}