.visit-form-container {
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  color: #244272;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-save {
  background-color: #eeb61a;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  display: inline-block;
  color: #244272;
  text-decoration: underline;
  font-size: 14px;
}

.cancel-link {
  display: inline-block;
  color: black;
  text-decoration: underline;
  font-size: 30px;
}

.store-url {
  margin: 8px 0;
}

.store-url a {
  font-size: 35px;
  color: #244272;          /* Savoiryのテーマ色 */
  text-decoration: underline;
}

.store-url {
  margin: 8px 0;
}

.store-url a {
  font-size: 35px;
  color: #244272;          /* Savoiryのテーマ色 */
  text-decoration: underline;
}