.top3-container {
  background: white;
  border-radius: 10px;
  padding: 15px 20px;
  max-width: 400px;
  margin: 0 auto;
  color: #333;
}

.top3-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.top3-item:last-child {
  border-bottom: none;
}

.rank {
  font-weight: bold;
  width: 50px;
  color: #333;
}

.info {
  flex: 1;
  margin-left: 10px;
}

.name {
  font-weight: bold;
  font-size: 1.1em;
}

.genre {
  color: #777;
  font-size: 0.85em;
  margin-top: 2px;
}

.rating {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.star {
  color: gold;
  font-size: 1.2em;
  margin-right: 3px;
}

.account-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px 16px;
  margin: 30px auto;
  width: 90%;
  max-width: 350px;
  text-decoration: none;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.2s;
}

.account-item:hover {
  background-color: #f5f5f5;
}

.account-item .left {
  display: flex;
  align-items: center;
}

.account-item .icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.account-item .text {
  font-weight: bold;
  margin-left: 10px;
  font-size: 15px;
}

.account-item .arrow {
  font-size: 20px;
  color: #555;
}


.logout-item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  border: none;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  margin: 10px auto;
  padding: 12px 16px; 
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  cursor: pointer;
  text-align: left;
  color: white;
  font-weight: bold;
}


.logout-item .left {
  display: flex;
  align-items: center;
}

.logout-item .icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.logout-item .text {
  font-weight: bold;
  margin-left: 10px;
  font-size: 15px;
}

