{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポートフォリオ</title>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
</head>
<body class="portfolio-page">
    <h1>Savoiry</h1>

    <div class="screenshot">
        <img src="{% static 'media/portfolio_screenshot1.jpeg' %}" alt="アプリのスクショ">
        <img src="{% static 'media/portfolio_screenshot2.jpeg' %}" alt="アプリのスクショ">
        <img src="{% static 'media/portfolio_screenshot3.jpeg' %}" alt="アプリのスクショ">
        <img src="{% static 'media/portfolio_screenshot4.jpeg' %}" alt="アプリのスクショ">
        <img src="{% static 'media/portfolio_screenshot5.jpeg' %}" alt="アプリのスクショ">
    </div>

    <p>
        Savoiry（サヴォアリー）は、SNSやWEBページに分散しがちな飲食店情報を一括で整理・保存できる
        自分専用の飲食店記録アプリです。<br>
        保存した情報を「エリア・グループ・ジャンル・シーン・タグ」から検索でき、
        「このお店、行きたかったのに思い出せなかった…」という機会を減らします。<br>
        実際に訪れたお店の感想や写真も記録でき、体験を“思い出”として残せます。
    </p>

    <div class="project-links">
        <a href="{% static 'portfolio/Savoiry_企画書.pdf' %}" target="_blank">企画書</a>
        <a href="{% static 'portfolio/Savoiry_画面設計図.pdf' %}" target="_blank">画面設計図</a>
        <a href="{% static 'portfolio/Savoiry_画面遷移図.svg' %}" target="_blank">画面遷移図</a>
        <a href="{% static 'portfolio/Savoiry_ER図.png' %}" target="_blank">ER図</a>
    </div>

    <div class="link-button">
        <button class="btn" onclick="location.href='{% url 'accounts:login' %}'">アプリにアクセス</button>
    </div>
</body>
</html>
