.signup-form {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

/* 項目を縦並びに */
.signup-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

/* ログイン見出しだけ白に */
.signup-form h2 {
    color: white;
}

.signup-form label {
    color: white;
}

/* 入力欄 */
.signup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ボタン */
.signup-form button {
    margin-top: 15px;
    width: 35%;
    padding: 10px;
    background-color: #eeb61a;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 110%;
    font-weight: bold;
}
.signup-form button:hover {
    background-color: #ffcc33;
}

/* ログインリンク */
.signup-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}