.signup-form {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

.signup-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.signup-form h2 {
    color: white;
}

.signup-form label {
    color: white;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    margin-top: 15px;
    width: 35%;
    padding: 10px;
    background-color: #eeb61a;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 110%;
    font-weight: bold;
}
.signup-form button:hover {
    background-color: #ffcc33;
}

.signup-form a {
    display: block;
    margin: 15px auto 0;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.error-message-global {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: #ff6666;
  font-size: 13px;
  display: block;
  margin-top: 4px;
}
